body{
    background-color: pink;
}
/*
a:link{
    color: green; /* muda a cor de links não visitados 
}


*/

a{
    border: 1px solid black;
    padding: 1px;
    font-size: 20px;
}

a::after{
    content:"after";
    color: green;
    border: 1px solid green; 
}

a::before{
    content:"before";
    color: red; 
}

h1::selection{ /*muda a cor quando seleciona ou da dois cliques*/ 
    color: blue;
}

h1::first-letter{
    font-size: 70px;
}


.ball {
    overflow: hidden;
}

  

.sonar {
    position: relative;
    margin: 32px auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: red;
    z-index: 0;
  }
  
  .sonar::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    background-color: red;
  }
  
  .sonar::after {
    animation: sonarWave 2s linear infinite;
  }
  
  @keyframes sonarWave {
    from {
      opacity: 0.5;
    }
    to {
      transform: scale(2.5);
      opacity: 0;
    }
  }
  
  .rectangle{
    position: relative;
    width: 100%;
    height: 30px;
    background-color: rgb(100, 168, 148);
  }

  .rectangle::after{
      position: absolute;
      content:'';
      left: 50%;
      top:15px;
      width: 30px;
      height:30px;
      background-color: rgb(100, 168, 148);
      transform: rotate(45deg);
  }

.circle{
    position: relative;
    margin: 32px auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 7px solid blue;
}

.circle::after{
    position: absolute;
    content:'';
    left: 75%;
    top: 30px;
    width: 0; 
    height: 0; 
    border-left   : 13px solid transparent;
    border-right  : 15px solid transparent;  
    border-bottom : 25px solid blue;
    transform: rotate(15deg);
}
/*
.circle::before{
    position: absolute;
    content:'';
    left:10%;
    bottom: -40%;
    margin: 32px auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: purple; 
}*/